.imgclass
{
    width:3.5cm;
    height:4.5cm;
    border-color:#26677D;
    border-width:3px;
    border-radius:6px;
    background-color:lightyellow;
    margin-top: -211px;
    margin-left: 1104px;
}
.fileposition
{
    margin-top: -505px;
    margin-left: 1112px;
  
}
h1{
    text-align:center;
    font-size:40px;
    color:#992599;
}
input{
    width:15cm;
    height:0.8cm;
    padding:10px;
}
body
{
    background-color: thistle;
}
select:focus
{
    background-color:lemonchiffon;
}
input:focus{
    background-color:lemonchiffon;
}
input:blur{
    background-color:white;
}
span
{
color:red;
}
#submitbtn{
    text-align:center;
}